@import "@fontsource-variable/inter/wght.css";
@import "@fontsource-variable/fira-code/wght.css";

:root {
	--font-main-family: inter variable, ui-sans-serif, sans-serif;
	--font-main-ex: 0.545454545;
	--font-main-cap: 0.727272727;
	--font-main-ascent: 0.96875;
	--font-main-descent: 0.241477273;

	--font-accent-family: var(--font-main-family);
	--font-accent-ex: var(--font-main-ex);
	--font-accent-cap: var(--font-main-cap);
	--font-accent-ascent: var(--font-main-ascent);
	--font-accent-descent: var(--font-main-descent);

	--font-mono-family: fira code variable, ui-monospace, monospace, monospace;
	--font-mono-ex: 0.5265;
	--font-mono-cap: 0.6885;
	--font-mono-ascent: 0.99;
	--font-mono-descent: 0.322;
}
