body {
	display: block grid;
	place-items: center;
	min-block-size: 100svb;
	margin: 0;
}

[id="app"] {
	display: block grid;
	max-inline-size: 50rem;
	margin-inline: auto;
	padding: 2rem;
	font-weight: normal;
	gap: 2rem;
}

a {
	color: var(--color-ui-accent);
	transition: background-color 0.4s;
	padding: 3px;

	&:hover {
		@media (hover: hover) {
			background-color: oklch(from var(--color-ui-accent) l c h / 0.2);
		}
	}
}
