@property --icon-shape-book {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./book.svg");
}

@property --icon-shape-chat {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./chat.svg");
}

@property --icon-shape-cube {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./cube.svg");
}

@property --icon-shape-heart {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./heart.svg");
}

@property --icon-shape-toolbox {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./toolbox.svg");
}
